#game-container {
    display: flex;
}

#status-container {
    height: 200px;
    border: 1px solid #000;
    flex: 0 0 100%; /* Take the full width initially */
    order: 1;
}

#shipMap {
    width: 305px;
    height: 750px; 
    border: 1px solid #000;
    order: 2;
}

#mapImage {
    width: 100%;
}

#container {
    flex: 1; /* Take the remaining space */
    display: flex;
    flex-direction: column;
    order: 3;
}

.container-buttons,
.container-text {
    height: 50%; /* Adjust as needed */
    border: 1px solid #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

button {
    margin-bottom: 10px;
}

.button-description {
    flex: 1;
    margin-left: 10px;
}

.roomHighlight1x2 {
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.roomHighlight1x2.highlighted {
    background-color: rgba(0, 255, 0, 0.5);
}

.roomHighlight1x2.available {
    background-color: rgba(255, 187, 0, 0.5);
}

.roomHighlight1x2.adjacent {
    background-color: rgba(255, 0, 0, 0.5);
}

.roomHighlight2x1 {
    position: absolute;
    width: 101px;
    height: 51px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.roomHighlight2x1.highlighted {
    background-color: rgba(0, 255, 0, 0.5);
}

.roomHighlight2x1.available {
    background-color: rgba(255, 187, 0, 0.5);
}

.roomHighlight2x1.adjacent {
    background-color: rgba(255, 0, 0, 0.5);
}

.roomHighlight2x2 {
    position: absolute;
    width: 101px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.roomHighlight2x2.highlighted {
    background-color: rgba(0, 255, 0, 0.5);
}

.roomHighlight2x2.available {
    background-color: rgba(255, 187, 0, 0.5);
}

.roomHighlight2x2.adjacent {
    background-color: rgba(255, 0, 0, 0.5);
}