#shipMap {
    position: relative;
}

#mapImage {
    width: auto;
    height: 100%;
}

/* CSS for rooms of size 2x1 */
.roomHighlight.size2x1 {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.roomHighlight.size2x2.highlighted {
    background-color: rgba(0, 255, 0, 0.5);
}

/* CSS for rooms of size 1x1 */
.roomHighlight.size1x1 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.roomHighlight.size1x2.highlighted {
    background-color: rgba(0, 255, 0, 0.5);
}