#shipMap {
    position: relative;
}

#mapImage {
    width: auto;
    height: 100%;
}

.roomHighlight {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.roomHighlight.highlighted {
    background-color: rgba(0, 255, 0, 0.5); /* Adjust the color for highlighted room */
}